#container {
    max-width: 1000px;
    margin: 1em auto;
}

#timeline-list {
    width: 100%; 
    height: 100%;
}

.timeline-container {
    margin-top: 50pt;
    margin-bottom: 50pt;
    margin-left: 20pt;
    margin-right: 20pt;
}

#drop-timeline-area {
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 25%;
    margin: 0px auto;
    margin-top: 50pt;
}

#drop-timeline-bottom-margin {
    height: 50pt;
}

#drop-timeline-area:hover,  #drop-timeline-area.highlight {
    background: #eee;
}

#drop-timeline-hint {
    color: #aaa;
    font-size: 15pt;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 40pt;
}

#file-input {
    display: none;
}

#file-input-click-area {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.category-type-label {
    background-color: #6298f0;
    border-radius: 3pt;
    font-size: 11px;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    margin-right: 5px;
}